body{
    margin: 0px;
    padding: 0px;
}

main {
    text-align: center;
    background-color: rgb(3, 87, 41);
}

h1 {
    margin: 0px;
    color: white;
    font-family: 'Courier New', monospace;
    font-size: 2em;
    text-align: center;
}

p{
    color: white;
    font-family: 'Courier New', monospace;
    font-size: 1.5em;
    text-align: center;
    margin: 0px;
}

header {
    padding: 0px;
    margin: 0px;
    background-color: rgb(3, 87, 41);
}

footer {
    padding: 29px;
    margin: 0px;
    background-color: rgb(3, 87, 41);
}

#gridContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    border-collapse: collapse;
}

table {
    background-color: cornflowerblue;
    border-spacing: 1px;
    border-collapse: collapse;
}

td {
    border: 1px;
    border-radius: 0px;
    width: 29px;
    height: 29px;
    border-collapse: collapse;
}

span {
    color: #222;
}

#start,
#clear,
#random {
    padding: 1vh;
    border-radius: 5px;
    border: none;    
    background: linear-gradient(
        to bottom right,
        cornflowerblue, #587559);
    margin: 1vh;
}

td.dead {
    background-color: transparent;
}

td.live {
    background-color: red;
    border-radius: 0px;
}

a {
    text-decoration: none;
    color: white;
}

#slider-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slider-container > label {
    color: white;
    font-size: 20px;
}