body{
    margin: 0px;
    padding: 0px;
}

main {
    text-align: center;
    background-color: #444;
}

h1 {
    margin: 0px;
    color: #00ff08;
    font-family: 'Courier New', monospace;
    font-size: 2em;
    text-align: center;
}

p{
    color: #00ff08;
    font-family: 'Courier New', monospace;
    font-size: 1.5em;
    text-align: center;
    margin: 0px;
}

header {
    padding: 0px;
    margin: 0px;
    background-color: #587559;
}

footer {
    padding: 0px;
    margin: 0px;
    background-color: cadetblue;
}

#gridContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

table {
    background-color: #C5D6C6;
    border-spacing: 0;
}

td {
    border: 1px solid #F1F5DA;
    border-radius: 3px;
    width: 10px;
    height: 10px;
}

span {
    color: #222;
}

#start,
#clear,
#random {
    padding: .75em;
    border-radius: 5px;
    border: none;    
    background: linear-gradient(
        to bottom right,
        #C5DEC6, #587559);
}

td.dead {
    background-color: transparent;
}

td.live {
    background-color: #CC4774;
    border-radius: 10px;
}