body {
    background-color: rgb(3, 87, 41);
}

#slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 100px; /* Adjust height as needed */
    overflow-y: scroll; /* Enable vertical scrolling */
}

#slider-container > label {
    color: white;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 10px;
}

canvas {
    background-color: white;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    height: 800px;
    border: 7px solid black;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(3, 87, 41);
    color: white;
    border: solid;
    border-color: black;
    cursor: pointer;
}

#ClearButton {
    background-color: red;
}

#RandomButton {
    background-color: blue;
}

#StartButton {
    background-color: green;
}

#PauseButton {
    background-color: yellow;
    color: black;
}

#RestartButton {
    background-color: orange;
    color: black;
}