.tablet {
  position: relative;
  width: 768px;
  height: 925px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

.tablet:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

.tablet .content {
  width: 768px;
  height: 925px;
  background: white;
  margin: -1px;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url("https://cdn1.epicgames.com/ue/product/Screenshot/Desktop%20Screenshot%202023.08.26%20-%2022.26.13.17-1920x1080-324e92f019b85136bb6f15099bf29924.png?resize=1&w=1920");
}

main {
    display: flex;
    flex-direction: row;
    text-align: center;

}

h1 {
    margin: 0px;
    color: white;
    font-family: 'Courier New', monospace;
    font-size: 2em;
    text-align: center;
}

p {
    color: #000000;
    font-family: 'Courier New', monospace;
    font-size: 1.5em;
    text-align: center;
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

header {
    padding: 0px;
    margin: 0px;
    background-color: green;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: green;
}

#gridContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    border-collapse: collapse;
}

table {
    background-color: cornflowerblue;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    border: 1px solid #F1F5DA;
    border-radius: 0px;
    padding: 0px;
    width: 29px;
    height: 29px;
    border-collapse: collapse;
}

span {
    color: #222;
}

.sliderContainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 25%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #00ffa2;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#start,
#pause,
#clear,
#random {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background: #CC4774;
    cursor: pointer;
}

td.dead {
    background-color: transparent;
}

td.live {
    background-color: #CC4774;
    border-radius: 0px;
}

#start {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background: #28a745;
    /* Groen */
}

#pause {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background: #ffc107;
    /* Geel */
}

#clear {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background: #007bff;
    /* Blauw */
}

#random {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background: #6f42c1;
    /* Paars */
}