body {
    margin: 0px;
    padding: 0px;
    background-color: green;
}

main {
    text-align: center;
}

h1 {
    margin: 0px;
    color: white;
    font-family: 'Courier New', monospace;
    font-size: 2em;
    text-align: center;
}

p {
    color: #000000;
    font-family: 'Courier New', monospace;
    font-size: 1.5em;
    text-align: center;
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

header {
    padding: 0px;
    margin: 0px;
    background-color: green;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: green;
}

#gridContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    border-collapse: collapse;
}

table {
    background-color: cornflowerblue;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    border: 1px solid #F1F5DA;
    border-radius: 0px;
    padding: 0px;
    width: 29px;
    height: 29px;
    border-collapse: collapse;
}

span {
    color: #222;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#start,
#clear,
#random {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background: #CC4774;
}

td.dead {
    background-color: transparent;
}

td.live {
    background-color: #CC4774;
    border-radius: 0px;
}

#start {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background: #28a745; /* Groen */
}

#pause {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background: #ffc107; /* Geel */
}

#clear {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background: #007bff; /* Blauw */
}

#random {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background: #6f42c1; /* Paars */
}